hr{
			color : rgb(214,218,220);
			width : 90%;
		}
		.box {width:200px;
			height:100px;
			color:#b8064d;
			background-color:#f8e1eb;
			float:left;
			margin-right:10px;}
		.visible {overflow: visible;}
		.hidden {overflow: hidden;}
		.scroll {overflow: scroll;}
		.auto {overflow: auto;}
		body {
			font-family: "Lato", sans-serif;
			height:100%;
		}
		html{height:100%;overflow-y:auto;}
		.sidenav {
			margin-right: -250px;
			right: 250px;
			width: 0;
			background: rgb(237, 239, 240);
			position: fixed;
			height: 100%;
			overflow-y: auto;
			z-index: 1000;
			transition: all 0.4s ease 0s;
		}
		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: black;
			display: block;
			transition: 0.3s
		}
		.sidenav a:hover, .offcanvas a:focus{
			color: #f1f1f1;
		}
		.closebtn {
			position: absolute;
			top: 0;
			right: 15px;
			font-size: 36px !important;
			margin-left: 50px;
		}
		.page-content-wrapper {
			width: 100%;
		}
		@media screen and (max-height: 450px) {
			.sidenav {padding-top: 15px;}
			.sidenav a {font-size: 18px;}
		}
		.navbar-default {
    background-color: #f4511e;
    border-color: #f4511e;

	}

	.button {
         position: relative;
         background-color: #D84747;
         border: none;
         color: white;
         padding: 5px 10px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         margin: 2px 1px;
         cursor: pointer;
         -webkit-transition-duration: 0.4s;
         transition-duration: 0.4s;
		 border-radius:5px;
		 width:100px;
         font-size: 13px;
      }
      
      .button2:hover {
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }

	   .w3-card-12 {
         background: #EC7373;
         width: 236px;
		 border-radius:5px;
      }
      .w3-card-12-2 {
         width: 236px;
         height: relative;
         background: white;
      }

	  	  .glyphicon {
		 color: #D84747;
	  }

	  #cardTitle
	  {
		font-size:14px;
		text-align:center;
		color:white;
		margin:0 5px 0 5px;
	  }